
body {
    background-color: grey;
    padding-bottom: 50px;
   

}

.my-container {
    padding-top: 110px;
    padding padding-right: 15px ;
    padding-bottom:15px;
    background-color: lightsteelblue;

}

.my-row {

}

.my-col {

}

.navbar {
    padding-left: 60px;
}

